Repository Traewelling/traewelling, pull requests merged in 2023-11, with the labels that each got.

#2062 :wastebasket: Deprecate `speed` attribute in API
  API_CHANGELOG.md
  app/Http/Controllers/Backend/LeaderboardController.php
  app/Http/Resources/LeaderboardUserResource.php
  app/Http/Resources/StatusResource.php
  app/Http/Resources/UserBaseResource.php
  app/Virtual/Models/LeaderboardUser.php
  app/Virtual/Models/Train.php
  app/Virtual/Models/User.php
  app/Virtual/Models/UserAuth.php
  storage/api-docs/api-docs.json
  tests/ApiTestCase.php
  tests/Feature/APIv1/LikesTest.php
Labels: APIv1, breaking change

#2100 :bug: Fix leaflet maps
  resources/vue/components/ActiveJourneyMap.vue
Labels: javascript, Vue

#2138 :arrow_up: update flake inputs
  flake.lock
Labels: nix
