Repository Traewelling/traewelling, pull requests merged in 2024-06, with the labels that each got.

#2683 🚸 Add errors on linerun page
  app/Http/Controllers/API/v1/TransportController.php
  resources/vue/components/CheckinLineRun.vue
Labels: experimental feature

#2581 :card_file_box: drop `origin` and `destination` on `train_checkins`
  app/Http/Controllers/API/v1/StationController.php
  app/Http/Controllers/API/v1/StatusController.php
  app/Http/Controllers/API/v1/TransportController.php
  app/Http/Controllers/Backend/Export/ExportController.php
  app/Http/Controllers/Backend/Helper/StatusHelper.php
  app/Http/Controllers/Backend/IcsController.php
  app/Http/Controllers/Backend/Transport/StationController.php
  app/Http/Controllers/Backend/Transport/TrainCheckinController.php
  app/Http/Controllers/Backend/User/DashboardController.php
  app/Http/Controllers/FrontendStatusController.php
  app/Http/Controllers/FrontendTransportController.php
  app/Http/Controllers/StatusController.php
  app/Http/Controllers/TransportController.php
  app/Http/Controllers/UserController.php
  app/Models/Checkin.php
  app/Models/Status.php
  app/Models/Stopover.php
  app/Notifications/StatusLiked.php
  app/Notifications/UserJoinedConnection.php
  database/factories/CheckinFactory.php
  database/migrations/2023_12_20_000000_migrate_stopover_relation_id_in_train_checkins.php
  database/migrations/2024_05_22_000003_drop_origin_destination_from_check_in.php
  database/schema/sqlite-schema.sql
  resources/views/admin/status/main.blade.php
  resources/views/admin/trip/show.blade.php
  resources/views/admin/users/show.blade.php
  resources/views/components/checkin-success.blade.php
  resources/views/includes/status.blade.php
  tests/Feature/APIv1/NotificationsTest.php
  tests/Feature/APIv1/StatusTest.php
  tests/Feature/Transport/BackendCheckinTest.php
  tests/Feature/UserBlockTest.php
  tests/Feature/Webhooks/WebhookStatusTest.php
Labels: database

#2710 ✨ Use new interface for ride along
  resources/views/includes/status.blade.php
  resources/vue/components/CheckinLineRun.vue
  resources/vue/components/Stationboard.vue
Labels: Vue, experimental feature

#2714 :sparkles: Improve autocomplete-input
  resources/vue/components/StationAutocomplete.vue
Labels: Vue, experimental feature
