Repository Traewelling/traewelling, pull requests merged in 2024-03, with the labels that each got.

#2398 🐛 Fix visibility dropdown ui
  resources/vue/components/TagRow.vue
  resources/vue/components/VisibilityDropdown.vue
Labels: Vue

#2402 ✨ TravelType Filter in experimental features
  resources/vue/components/StationAutocomplete.vue
  resources/vue/components/Stationboard.vue
Labels: Vue, experimental feature

#2349 🐛 API: Invalide next/prev links on user/{username}/statuses endpoint
  API_CHANGELOG.md
  app/Http/Controllers/UserController.php
Labels: APIv1, breaking change

#2074 :technologist: Update docker environment and optimise for local development
  .dockerignore
  .env.docker
  Dockerfile
  README.md
  database/.gitignore
  dev.docker-compose.yml
  docker-compose.yml
  docker-entrypoint.sh
  docker/.env.app
  docker/.env.db
  docker/.gitignore
  docker/docker-compose.yml
Labels: docker, stale

#2412 :recycle: migrate home station endpoint to use TRWL-ID
  API_CHANGELOG.md
  app/Http/Controllers/API/v1/TransportController.php
  app/Http/Controllers/Backend/Transport/HomeController.php
  routes/api.php
  storage/api-docs/api-docs.json
  tests/Feature/APIv1/TransportTest.php
Labels: APIv1, breaking change

#2410 :recycle: migrate departures endpoint to use TRWL-ID
  API_CHANGELOG.md
  app/Http/Controllers/API/v1/TransportController.php
  app/Http/Controllers/TransportController.php
  resources/vue/components/Stationboard.vue
  routes/api.php
  storage/api-docs/api-docs.json
  tests/Feature/APIv1/TransportTest.php
Labels: APIv1, breaking change

#2407 🐛 Fix issues related to checking into international trains
  app/Http/Controllers/FrontendTransportController.php
  resources/vue/components/CheckinInterface.vue
  resources/vue/components/Stationboard.vue
Labels: Vue

#2437 ✨ Persist profile settings for default checkin visibility
  package-lock.json
  package.json
  resources/js/app.js
  resources/types/ProfileSettings.ts
  resources/vue/components/CheckinInterface.vue
  resources/vue/stores/profileSettings.ts
  tsconfig.json
Labels: Vue, experimental feature

#2439 ⚡️ Move frontend notifications logic to pinia
  app/Virtual/Models/Notification.php
  resources/js/api/api.d.ts
  resources/types/Notification.ts
  resources/views/layouts/app.blade.php
  resources/vue/components/NotificationBell.vue
  resources/vue/components/NotificationList.vue
  resources/vue/stores/notifications.ts
  storage/api-docs/api-docs.json
  tsconfig.json
Labels: Vue
